
td {
  max-height: 150px;
  padding: 5px;
}

td.field {
  min-width: 100px;
}

th {
  max-width: 200px;
}

th.title {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

th.header-border {
  border-bottom: solid 1px #3b79b7;
}

.col-padding {
  padding-left: 1px;
}

.text-error {
  color: rgb(177, 30, 30);
}

textarea {
  height: 75px;
  resize: none;
  font-size: 11px;
  text-align: left;
  vertical-align: top;
  padding-left: 3px;
  padding-top: 0px;
  max-width: 200px;
}

fluent-button {
  min-width: 100px;
}
