
td {
  max-width: 100px;
  max-height: 150px;
  padding: 5px;
}

th.title {
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}

th.brdr {
  border-bottom: solid 1px #036ac4;
}

td.field {
  min-width: 100px;
}

textarea {
  height: 75px;
  resize: none;
  font-size: 11px;
  text-align: left;
  vertical-align: top;
  padding-left: 3px;
  padding-top: 0px;
}

fluent-button {
  min-width: 100px;
}
