<form #formParam="ngForm" (ngSubmit)="onSubmit(formParam)">
  <table class="table table-light" name="localization-table" *ngIf="displayTable()">
    <thead>
      <tr>
        <th class="field text-dark header-border">Fields</th>
        <th class="title text-dark header-border">{{ defaultLanguage }}</th>
        <th
          *ngFor="let language of languages | filterlanguages: defaultLanguage"
          class="title text-dark header-border"
        >
          {{ language }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of rows">
        <td class="text-dark font-weight-bold">{{ row }}</td>
        <td>
          <textarea disabled="true"
            class="form-control"
            type="text"
            [name]="row + '_' + defaultLanguage"
            [attr.data-field]="row.toLowerCase()"
            [attr.data-language]="defaultLanguage"
            [ngModel]="getColumnLocalization(row, defaultLanguage)"
          >
          </textarea>
        </td>
        <td
          *ngFor="let language of languages | filterlanguages: defaultLanguage"
        >
          <textarea
            class="form-control"
            type="text"
            [name]="row + '_' + language"
            [attr.data-field]="row.toLowerCase()"
            [attr.data-language]="language"
            [ngModel]="getColumnLocalization(row, language)"
          ></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-1 col-padding">
        <div *ngIf="localization.length != 0"><fluent-button appearance="accent" type="submit">Save</fluent-button></div>
      </div>
      <div class="col-md-8">
        <span *ngIf="isSaved"><h4 class="text-dark">Successfully saved</h4></span>
        <span *ngIf="isIncorrectResponse"><h4 class="text-danger">Incorrect response: {{responseText}}</h4></span>
        <span *ngIf="isError"><h4 class="text-error">Application error. See console logs</h4></span>
      </div>
    </div>
  </div>
</form>
